*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.slider 
{
    // border: 1px solid rgb(53, 49, 50);
    width: 950px;
    margin: 30px auto;
    position: relative;
    .prew,.next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-size: 30px;
        padding: 10px 15px;;
        background-color: transparent;
        border-radius: 50%;
        cursor: pointer;
    }
    .prew{
        left: 10px;
    }
    .next{
        right: 10px;
    }
    img {
        width: 100%;
    }
}